/* ----------- responsive ----------- */

/* 1920 >= */
@media only screen and (max-width: 1920px) {
    
  
}

/* 1440 >= */
@media only screen and (max-width: 1440px) {

}

/* 1024 >= */
@media only screen and (max-width: 1240px) {

  .navbar {
    height: 10vh !important;
  }

}

/* 430 >= (iphone 14 pro max)*/
@media only screen and (max-width: 990px) {
  * {
    font-size: 98%;
  }
  html {
    width: 100rem;
  }

}