:root {

  --first-gradient: conic-gradient(
    from 10deg at 50% 50%,
    #E25439 10deg,
    #CCABD8 90deg,
    #86E3CE 120deg,
    #97b5da 180deg,
    transparent 360deg
  );

  --second-gradient: conic-gradient(
    from 50deg at 50% 50%,
    #FFDD94 30deg,
    #E25439 150deg,
    #CCABD8 55deg,
    #97b5da 180deg,
    transparent 360deg
  );


}

h4 {
    line-height: 2rem;
}


.home::before,
.home::after {
  content: '';
  position: absolute;
  z-index: 0;
  opacity: 0.8;
}

.home::before {
    background: var(--first-gradient);
    border-radius: 50%;
    width: 40vw;
    height: 50vh;
    margin-left: -50rem;
    filter:blur(4rem);  
    top: calc(80vh - 40vw);
    left: calc(80vw - 20vw);
}

.home::after {
    background: var(--second-gradient);
    border-radius: 50%;
    width: 40vw;
    height: 40vh;
    filter:blur(3rem);
    top: calc(90vh - 20vw);
    right: calc(90vw - 35vw);
}

.home {
    /* margin-top: 20vh; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 20vh;
}

.home__left {
    padding-left: 15rem;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.home__left--text {
    padding: 1rem 0;
    z-index: 1;
}

.home__left--button {
    padding: 1rem 0;
    z-index: 1;
}

.home__right {
    padding-right: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home__right--image {
    /* width: 60%; */
    margin: 0 auto;
    justify-content: center;
    z-index: 1;
    height: 100%;
    mix-blend-mode: multiply;
}

#GithubLogo {
    width: 2.5rem;
}

#LinkedinLogo {
    width: 2.5rem;
    margin: 0 2rem;
}