video {
    width: 45vw;
}

.projects {
    height: auto;
    padding: 4rem 0rem 10vh 0rem;
    padding-top: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.projects__header {
    margin: 0 auto;
}

.projects__body {
    align-items: center;
    height: 70vh;
    margin: 0;
    padding: 0;
}

.projects__body__carousel {
    /* background-color: var(--yellow-secondary); */
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 2rem auto;
    overflow: hidden;
}

.carousel__item {
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0 2rem;
    transition: display 0.35s ease-in-out;
    /* background-color: var(--brown-secondary); */
}
  
.carousel__item__arrow__icon {
    display: flex;
    align-items: center;
    z-index: 1;
}

#arrow_left, #arrow_right {
    flex-shrink: 0;
    transition: 0.35s ease-in-out;
    stroke: #714A35CC;
}

#arrow_left {
    margin: 0 1rem 0 2rem;
}

#arrow_right {
    margin: 0 2rem 0 1rem;
}

#arrow_left:hover, #arrow_right:hover {
    transform: scale(1.1);
    stroke: var(--brown-secondary);
}

.carousel__item__video {
    width: 70%;
}

.carousel__item--text {
    width: 100%;
    height: 100%;
    padding: 10rem 0 5rem 5rem;
    justify-content: center;
    z-index: 0;
}

.text--header {
    width: 100%;
    margin-bottom: 3rem;
}

.text--body {
    text-align: left;
    font-size: 0.75rem;
}
