/* ----------- responsive ----------- */

/* 1920 >= */
@media only screen and (max-width: 1920px) {
    video {
        width: 35vw;
    }

    .hovered-styles--text {
        padding: 5rem 0 2rem 2rem;
    }
  
}

/* 1440 >= */
@media only screen and (max-width: 1440px) {

    video {
        width: 25vw;
    }
}

/* 1366 >= (Ipad Pro Horizontal) */
@media only screen and (max-width: 1366px) {

    video {
        width: 40vw;
    }

    .projects {
        padding-top: 20vh;
    }

    .projects__container {
        display: block;
        justify-items: center;
        align-items: center;
    }

    .projects__body--item {
        height: 40vh;
        justify-items: center;
        align-items: center;
    }

    .item--covertext {
        padding: 15vh 2rem;
    }

    .item--covertext:hover {
        padding: 0 2rem;
    }

    .hovered-styles--text {
        padding: 3rem 0 2rem 2rem;
    }

    .hovered-styles--video {
        padding: 2rem 0 0 0;
        width: 100%;
    }

}

/* 1180 >= (Ipad Air Horizontal) */
@media only screen and (max-width: 1180px) {

    video {
        width: 45vw;
    }

    .projects {
        padding-top: 20vh;
    }

    .projects__container {
        display: block;
        justify-items: center;
        align-items: center;
    }

    .projects__body--item {
        height: 40vh;
        justify-items: center;
        align-items: center;
    }

    .item--covertext {
        padding: 15vh 2rem;
    }

    .item--covertext:hover {
        padding: 0 2rem;
    }

    .hovered-styles--text {
        padding: 3rem 0 2rem 2rem;
    }

    .hovered-styles--video {
        padding: 2rem 0 0 0;
        width: 100%;
    }

}

/* 1180 >= (Ipad Air Horizontal) */
@media only screen and (max-width: 1180px) {

    video {
        width: 45vw;
    }

    .projects {
        padding-top: 20vh;
    }

    .projects__container {
        display: block;
        justify-items: center;
        align-items: center;
    }

    .projects__body--item {
        height: 50vh;
        justify-items: center;
        align-items: center;
    }

    .item--covertext {
        padding: 16vh 2rem;
    }

    .item--covertext:hover {
        padding: 0 2rem;
    }

    .hovered-styles--text {
        padding: 5rem 0 2rem 2rem;
    }

    .hovered-styles--video {
        padding: 1rem 0 0 0;
        width: 100%;
    }

}

/* 1024 >= */
@media only screen and (max-width: 1024px) {
    video {
        width: 50vw;
    }

    .projects {
        padding-top: 20vh;
    }

    .projects__container {
        display: block;
        justify-items: center;
        align-items: center;
    }

    .projects__body--item {
        height: 40vh;
        justify-items: center;
        align-items: center;
    }

    .item--covertext {
        padding: 15vh 2rem;
    }

    .item--covertext:hover {
        padding: 0 2rem;
    }

    .hovered-styles--text {
        padding: 3rem 0 2rem 2rem;
    }

    .hovered-styles--video {
        padding: 2rem 0 0 0;
        width: 100%;
    }

}

/* 820 >= (Ipad Air Vertical) */
@media only screen and (max-width: 820px) {

    video {
        width: 80vw;
    }

    .projects__body--item {
        display: block;
        height: 60vh;
    }

    .item--covertext {
        padding: 25vh 4rem;
    }

    .item--covertext:hover .hovered-styles {
        text-align: center;
        display: block;
    }

    .hovered-styles--text {
        font-size: 1.5rem;
    }

    .hovered-styles--video {
        padding: 2rem 0 0 0;
        width: 100%;
    }
}

/* 430 >= (iphone 14 pro max)*/
@media only screen and (max-width: 430px) {
    video {
        width: 180vw;
    }

    .projects__body--item {
        display: block;
        height: 100vh;
    }

    .item--covertext {
        padding: 40vh 4rem;
    }

    .item--covertext:hover .hovered-styles {
        text-align: center;
        display: block;
    }

    .hovered-styles--text {
        font-size: 1.5rem;
    }

}

